body{
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
.yellow{
    color: darkgreen;
}
.middle{
    text-align: center;
}
.first-div{
    border-left: 5px solid rgba(38, 21, 139, 0.418);
    border-radius: 5px;
}
.flex-continer{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(150, 67, 67);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
}
.link-button:hover{
    background-color: green;
    color: black;
}
.one-third-width{
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 8%;
    margin-right: 8%;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
.one-third-width img{
    width: 100%;
}
.mission{
    background-color: gray;
}
.vission{
    background-color: rgb(226, 198, 136);
}
.goals{
    background-color: rgb(181, 223, 139);
}
.third-banner{
    display: flex;
    margin: 20px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: 10% 55%;
    margin-bottom: 20px;
}
.half-width3{
    width: 100%;
    padding-top: 0;
    padding-right: 10%;
}
.half-width2 img{
    width: 50%;
    padding-top: 8%;
    padding-left: 30%;
}